<footer class="city-footer">
  <section class="city-footer__photo">
    <div class="city-footer__photo-head">
      <h2>Photograph</h2>
      <p>霞ノ杜町公式フォトギャラリー　ID <span>kasuminomori_photo</span></p>
    </div>
    <div class="city-footer__photo-grid">
      <figure class="city-footer__photo-large"><img src="{{BASE}}img/placeholders/instagram-01.svg" alt="" width="480" height="640"></figure>
      <div class="city-footer__photo-small">
        <figure><img src="{{BASE}}img/placeholders/instagram-02.svg" alt="" width="240" height="240"></figure>
        <figure><img src="{{BASE}}img/placeholders/instagram-03.svg" alt="" width="240" height="240"></figure>
        <figure><img src="{{BASE}}img/placeholders/instagram-04.svg" alt="" width="240" height="240"></figure>
        <figure><img src="{{BASE}}img/placeholders/instagram-05.svg" alt="" width="240" height="240"></figure>
      </div>
    </div>
  </section>
  <section class="city-footer__banners">
    <h2>バナー広告</h2>
    <p><a class="city-footer__banner-cta" href="{{BASE}}shisei/koho.html">霞ノ杜町ホームページ掲載広告の募集</a></p>
    <div class="city-footer__banner-row">
      <a href="#"><img src="{{BASE}}img/placeholders/banner-01.svg" alt="杜の湯 足湯"></a>
      <a href="#"><img src="{{BASE}}img/placeholders/banner-02.svg" alt="霧見茶房"></a>
      <a href="#"><img src="{{BASE}}img/placeholders/banner-03.svg" alt="三日月町商店会"></a>
      <a href="#"><img src="{{BASE}}img/placeholders/banner-04.svg" alt="霞ノ杜診療所"></a>
      <a href="#"><img src="{{BASE}}img/placeholders/banner-05.svg" alt="杜川工房"></a>
    </div>
  </section>
  <div class="city-footer__bottom">
    <div class="city-footer__brand">
      <span class="city-logo__mark city-logo__mark--footer" aria-hidden="true"></span>
      <div>
        <p class="city-footer__name">霞ノ杜町</p>
        <p class="city-footer__en">KASUMINOMORI TOWN</p>
      </div>
    </div>
    <address class="city-footer__addr">
      <strong>霞ノ杜町役場 三日月庁舎</strong><br>
      〒029-17XX 吾妻郡霞ノ杜町三日月中央2-8-1<br>
      代表電話 0123-45-6700（平日 8:30〜17:15）
    </address>
    <img class="city-footer__symbol" src="{{BASE}}img/placeholders/footer-symbol.svg" alt="" width="200" height="200">
  </div>
  <p class="city-footer__copy">Copyright &copy; Kasuminomori Town All Rights Reserved.</p>
  <p class="city-fiction">※本サイトは謎解き作品のための<strong>架空サイト</strong>です。記載内容はフィクションであり、実在の団体・地名とは無関係です。</p>
</footer>
